@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap"); */

:root {
    --primary-color: #FF0000;
    --secondary-color: #E60000;
    --heading-color: #dc2f02;
    --background-color: white;
}

body {
    font-family: 'Inter', sans-serif;
}

.active {
    font-weight: 500;
    /* border-bottom-width: 2px; */
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
}

.dt-layout-row {
    padding-left: 12px !important;
    padding-right: 12px !important;
    color: #6B7280 !important;
    font-size: 14px !important;
}

.sidebar-collapsed {
    width: 80px !important;
}

.sidebar-collapsed .sidebar-text {
    display: none;
}

.sidebar-collapsed .sidebar-logo {
    display: none;
}

.sidebar-slogo {
    display: none;
}

.sidebar-collapsed .sidebar-slogo {
    display: block !important;
}

.sidebar-collapsed nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sidebar-collapsed i {
    margin-right: 0 !important;
}

/* Collapsed sidebar */
.sidebar-collapsed {
    width: 80px !important;
}

/* Hide text + chevron */
.sidebar-collapsed .sidebar-text,
.sidebar-collapsed #staticChevron {
    display: none;
}

/* Submenu hover container */
/* .sidebar-collapsed #staticContentMenu {
    position: fixed;
    left: 80px;
    top: auto;
    margin-top: -40px;
    width: 220px;
    background: white;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, .15);
    display: none;
    z-index: 9999;
    border: 1px solid rgba(255, 255, 255, 0.3);
} */

/* .dark .sidebar-collapsed #staticContentMenu {
    background: #111827;
} */

/* Hover to show submenu */
/* .sidebar-collapsed #staticContentToggle:hover+#staticContentMenu {
    display: block !important;
} */

/* Keep visible when submenu itself hovered */
/* .sidebar-collapsed #staticContentMenu:hover {
    display: block !important;
} */

.cp {
    cursor: pointer;
}

.transparent {
    background-color: transparent;
}

.bg-animation {
    transition: background-image 1s ease-in;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll {
    animation: scroll 30s linear infinite;
}

.hover\:pause-scroll:hover {
    animation-play-state: paused;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-slide {
    animation: slide 15s linear infinite;
}
